name: Run Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          architecture: "x64"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        # run: python app/main.py --run_tests
        run: python -m unittest discover -s app/tests
